In [1]:
import pandas as pd

In [4]:
file_path = "G:/academic/sem 7/Research - Multi-omic data in the cervical cancer studies/notebooks/New folder/Multi/methilation450K.csv" 
df1 = pd.read_csv(file_path)

In [5]:
df1.shape

(305, 203)

In [12]:
file_path2 = "G:/academic/sem 7/Research - Multi-omic data in the cervical cancer studies/notebooks/New folder/Multi/HiSeqv.csv" 
df2 = pd.read_csv(file_path2)

In [13]:
df2.shape

(301, 20132)

In [14]:
file_path3 = "G:/academic/sem 7/Research - Multi-omic data in the cervical cancer studies/notebooks/New folder/Multi/miRNA.csv" 
df3 = pd.read_csv(file_path3)

In [15]:
df3.shape

(304, 276)

In [17]:
df2.head()

,SampleID,histological_type,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
0,TCGA-EA-A3HT-01,1,0.725318,0.189987,0.174594,0.496180,0.617883,0.637369,0.565425,0.609614,...,0.296442,0.000000,0.560584,0.255231,0.497724,0.626944,0.515713,0.222879,0.316847,0.405340
1,TCGA-FU-A3HZ-01,1,0.444151,0.248211,0.000000,0.561269,0.463589,0.230653,0.652436,0.324709,...,0.000000,0.290987,0.506421,0.479059,0.400047,0.302075,0.322926,0.267669,0.313092,0.530207
2,TCGA-FU-A3TQ-01,1,0.837766,0.230985,0.374522,0.554383,0.829937,0.389478,0.630412,0.516601,...,0.000000,0.000000,0.582022,0.705226,0.578096,0.420560,0.428795,0.444500,0.612588,0.361471
3,TCGA-DS-A0VK-01,1,0.564916,0.389652,0.450002,0.518949,0.531938,0.716303,0.719264,0.379869,...,0.000000,0.000000,0.446650,0.000000,0.369243,0.522974,0.751170,0.513679,0.660377,0.407865
4,TCGA-UC-A7PG-01,1,0.772081,0.413758,0.088769,0.665259,0.608024,0.331768,0.661789,0.486976,...,0.000000,0.115226,0.426500,0.225709,0.499123,0.588495,0.450644,0.511162,0.432341,0.405667

In [16]:
df2.insert(1, "histological_type", df2.pop("histological_type"))

In [19]:
df2.columns

Index(['SampleID', 'histological_type', 'ARHGEF10L', 'HIF3A', 'RNF17', 'RNF10',
       'RNF11', 'RNF13', 'GTF2IP1', 'REM1',
       ...
       'TULP2', 'NPY5R', 'GNGT2', 'GNGT1', 'TULP3', 'PTRF', 'BCL6B', 'GSTK1',
       'SELP', 'SELS'],
      dtype='object', length=20132)

In [18]:
df3.head()

,SampleID,histological_type,MIMAT0000765,MIMAT0000764,MIMAT0000761,MIMAT0000760,MIMAT0000763,MIMAT0000762,MIMAT0004801,MIMAT0004808,...,MIMAT0004909,MIMAT0004693,MIMAT0004694,MIMAT0004697,MIMAT0004673,MIMAT0004672,MIMAT0004585,MIMAT0004584,MIMAT0004586,MIMAT0003298
0,TCGA-BI-A0VS-01,0,0.412676,0.234523,0.486516,0.683406,0.209727,0.690080,0.684106,0.541690,...,0.473144,0.648230,0.560659,0.694225,0.478191,0.658248,0.545532,0.715326,0.574467,0.528334
1,TCGA-C5-A1MP-01,0,0.332881,0.285390,0.209401,0.392064,0.215805,0.365511,0.407754,0.487104,...,0.621209,0.370813,0.414391,0.245057,0.455777,0.403442,0.512926,0.429133,0.560717,0.391146
2,TCGA-C5-A2M1-01,1,0.487423,0.482132,0.478659,0.575281,0.278825,0.406200,0.778967,0.507400,...,0.398459,0.556792,0.511486,0.663908,0.755702,0.764377,0.589761,0.895005,0.633164,0.739321
3,TCGA-VS-A94Z-01,0,0.318592,0.551453,0.336966,0.418413,0.388311,0.275500,0.581153,0.706636,...,0.481115,0.527729,0.727992,0.655850,0.566144,0.505499,0.598856,0.659320,0.576727,0.546617
4,TCGA-C5-A2M2-01,1,0.594883,0.638666,0.629775,0.600272,0.495089,0.573584,0.373874,0.421536,...,0.388516,0.493193,0.285916,0.714417,0.630250,0.597119,0.467308,0.819023,0.871465,0.634001

In [20]:
df1 = df1.drop(['Unnamed: 0'], axis=1)

In [21]:
#change id name
df1 = df1.rename(columns={'id': 'SampleID'})
df1.head()

,SampleID,histological_type,cg26961332,cg01847620,cg01814098,cg17812026,cg25800170,cg13682477,cg23889391,cg26082557,...,cg08643007,cg08367083,cg00810836,cg04087237,cg25379026,cg08839858,cg15794252,cg09806118,cg04020999,cg06960784
0,TCGA-EK-A3GK-01,1,0.9904,0.9860,0.0247,0.9570,0.0166,0.0166,0.0158,0.0160,...,0.0317,0.0183,0.0621,0.0652,0.0122,0.0224,0.0124,0.0120,0.9778,0.0128
1,TCGA-GH-A9DA-01,0,0.9910,0.9909,0.0150,0.9914,0.0139,0.0172,0.6539,0.0113,...,0.0377,0.0147,0.0170,0.0191,0.0162,0.6017,0.0623,0.4581,0.9914,0.3205
2,TCGA-VS-A94Y-01,0,0.9883,0.9424,0.0174,0.9776,0.2976,0.6157,0.0132,0.0454,...,0.0257,0.0224,0.0190,0.0687,0.4693,0.5097,0.0144,0.0115,0.9845,0.0163
3,TCGA-MY-A5BF-11,0,0.9901,0.9858,0.0174,0.9898,0.0137,0.0211,0.0169,0.0147,...,0.0208,0.0264,0.0267,0.0112,0.0208,0.0193,0.0158,0.0144,0.9860,0.0212
4,TCGA-VS-A94Z-01,0,0.8803,0.6852,0.0172,0.5670,0.2188,0.5187,0.4858,0.4888,...,0.0282,0.2056,0.0174,0.0142,0.5561,0.4190,0.0168,0.0121,0.9844,0.0603

In [39]:
from sklearn.feature_selection import chi2
import pandas as pd
import numpy as np

# Assuming df1, df2, df3 are your DataFrames with "SampleID" as the common ID column

# Step 1: Perform feature selection separately for each dataset
def perform_feature_selection(df, num_features):
    X = df.iloc[:, 2:]  # Assuming features start from the 3rd column
    y = df["histological_type"]

    # Calculate chi-squared scores for each feature
    chi2_scores, _ = chi2(X, y)

    # Select the top k features based on chi-squared scores
    selected_features_idx = np.argsort(chi2_scores)[-num_features:]
    selected_features = X.columns[selected_features_idx]

    # Create a DataFrame with feature names and corresponding chi-square values
    feature_selection_df = pd.DataFrame({
        'Feature_name': selected_features,
        'Chi_Square_Value': chi2_scores[selected_features_idx]
    })

    return feature_selection_df


# Select the desired number of features for each dataset
num_features_df1 = 70
num_features_df2 = 60
num_features_df3 = 60

# Create new DataFrames for each dataset
methilation450K = perform_feature_selection(df1, num_features_df1)
HiSeqv = perform_feature_selection(df2, num_features_df2)
miRNA = perform_feature_selection(df3, num_features_df3)

# Rename columns in each DataFrame
methilation450K.columns = ['methilation450K_Feature_name', 'methilation450K_Chi_Square_Value']
HiSeqv.columns = ['HiSeqv_Feature_name', 'HiSeqv_Chi_Square_Value']
miRNA.columns = ['miRNA_Feature_name', 'miRNA_Chi_Square_Value']

# Combine DataFrames into a single DataFrame
result_df = pd.concat([methilation450K, HiSeqv, miRNA], axis=1)

# Display the combined DataFrame
result_df

,methilation450K_Feature_name,methilation450K_Chi_Square_Value,HiSeqv_Feature_name,HiSeqv_Chi_Square_Value,miRNA_Feature_name,miRNA_Chi_Square_Value
0,cg14239811,1.139196,WFDC8,34.119505,MIMAT0016895,0.657678
1,cg27425996,1.153453,CDHR2,34.276290,MIMAT0003298,0.674823
2,cg13793145,1.196079,C14orf105,34.687377,MIMAT0003249,0.687248
3,cg25318301,1.222517,C1orf230,35.033850,MIMAT0000418,0.699943
4,cg02057833,1.309269,GJB1,35.083213,MIMAT0019208,0.708112
...,...,...,...,...,...,...
65,cg03585419,8.017187,NaN,NaN,NaN,NaN
66,cg17776267,8.060484,NaN,NaN,NaN,NaN
67,cg19691563,8.118149,NaN,NaN,NaN,NaN
68,cg08839858,8.656779,NaN,NaN,NaN,NaN
69,cg23889391,10.732924,NaN,NaN,NaN,NaN

In [30]:
# #export as csv
# result_df.to_csv('G:/academic/sem 7/Research - Multi-omic data in the cervical cancer studies/notebooks/New folder/ForFinalResults/combination.csv', index=False)

In [40]:
file_path4 = "G:/academic/sem 7/Research - Multi-omic data in the cervical cancer studies/notebooks/New folder/ForFinalResults/multi.csv" 
multi = pd.read_csv(file_path4)

In [41]:
multi.shape

(190, 2)

In [42]:
multi.columns

Index(['Feature_name', 'Square_Value'], dtype='object')

In [43]:
# Assuming you have a DataFrame named "multi" with columns "Feature_name" and "Chi_Square_Value"

# Step 2: Sort the "multi" DataFrame by Chi_Square_Value in descending order
multi_sorted = multi.sort_values(by='Square_Value', ascending=False)

# Step 3: Select the top 90 features from the sorted DataFrame
top_90_multi = multi_sorted.head(90)

# Step 4: Create new columns with names "multi_Feature_name" and "multi_Chi_Square_Value"
top_90_multi.columns = ['multi_Feature_name', 'multi_Chi_Square_Value']

# Step 5: Combine "result_df" with the new columns from "multi"
result_df = pd.concat([result_df, top_90_multi], axis=1)

# Display the updated "result_df" DataFrame
result_df

,methilation450K_Feature_name,methilation450K_Chi_Square_Value,HiSeqv_Feature_name,HiSeqv_Chi_Square_Value,miRNA_Feature_name,miRNA_Chi_Square_Value,multi_Feature_name,multi_Chi_Square_Value
0,cg14239811,1.139196,WFDC8,34.119505,MIMAT0016895,0.657678,NaN,NaN
1,cg27425996,1.153453,CDHR2,34.276290,MIMAT0003298,0.674823,NaN,NaN
2,cg13793145,1.196079,C14orf105,34.687377,MIMAT0003249,0.687248,NaN,NaN
3,cg25318301,1.222517,C1orf230,35.033850,MIMAT0000418,0.699943,NaN,NaN
4,cg02057833,1.309269,GJB1,35.083213,MIMAT0019208,0.708112,NaN,NaN
...,...,...,...,...,...,...,...,...
187,NaN,NaN,NaN,NaN,NaN,NaN,MIMAT0000266,10.157240
186,NaN,NaN,NaN,NaN,NaN,NaN,MIMAT0019731,7.078193
185,NaN,NaN,NaN,NaN,NaN,NaN,MIMAT0000728,6.588439
184,NaN,NaN,NaN,NaN,NaN,NaN,MIMAT0000253,6.447612
183,NaN,NaN,NaN,NaN,NaN,NaN,MIMAT0000087,3.500344

In [ ]:
#export as csv
result_df.to_csv('G:/academic/sem 7/Research - Multi-omic data in the cervical cancer studies/notebooks/New folder/ForFinalResults/combination2.csv', index=False)